<h1>Signup</h1>
<div class="row">
  <form method="POST" action="/auth/signup" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstname" type="string" class="validate" name="firstname">
        <label for="firstname">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastname" type="string" class="validate" name="lastname">
        <label for="lastname">Last Name</label>
      </div>
  
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="string" class="validate" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="birthdate" type="date" class="datepicker validate" name="birthdate">
        <label for="birthdate">Birth Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="photoURL" type="string" class="validate" name="photoURL">
        <label for="profile">Profile Pic</label>
      </div>
      <div class="input-field col s6">
        <input id="bio" type="string" class="validate" name="bio">
        <label for="bio">Biography</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="password_verify" type="password" class="validate" name="password_verify">
        <label for="password_verify">Password Verify</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light teal lighten-3" type="submit" name="action">Sign Up
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  let elems = document.querySelectorAll('.datepicker');
  let startDate = new Date()
   startDate.setFullYear(startDate.getFullYear() - 30)
  let instances = M.Datepicker.init(elems, {
  autoClose: true,
  defaultDate: startDate,
  minYear: startDate.getFullYear() - 70,
  maxYear: (new Date()).getFullYear()
  });
})
</script>