<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">
              Created by Bennie the Jet <%= new Date().getFullYear() %>
              </h5>
            </div>
          </div>
        </div>
      </footer>